@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=DM+Serif+Display:ital@0;1&display=swap');
/*  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal; */

/* EMPIEZA NAVBAR */
.navbar-brand img {
    height: 150px;
}

.navbar {
    background-color: rgb(11, 11, 129);
    min-height: 150px;

}

.nav-link {
    color: black !important;
    font-size: 25px;


}



.collapse li {
    padding: 10px;

}


.collapse li a:hover {
    color: white !important;
    text-decoration: underline;
}

@media only screen and (min-width: 992px) {
    .collapse {
        display: flex;
        justify-content: center;
    }

    .collapse ul {
        border: 3px solid black;
        border-radius: 10px;

    }
}

/* TERMINA NAVBAR */

/* Empieza Main */
main {
    height: auto;
    background-color: rgb(183, 178, 178);
    font-family: "Cinzel", serif
}

/* MAIN INDEX */
.banner {
    height: auto;
    border: 5px solid;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
}

.banner h1 {
    font-size: 40px;
}

.banner h2 {
    font-size: 50px;
    text-shadow: 0 0 10px white;
}



.banner p {
    margin-bottom: 20px;
}

.banner a {
    text-decoration: none;
    color: black;
    background-color: rgb(11, 11, 129);
    padding: 10px 20px;
    display: flex;
    width: fit-content;
    border-radius: 5px;


}

.banner a:hover {
    text-decoration: underline;
    color: white;
}

.imagenPrincipal {
    padding: 0;
}

.imagenPrincipal img {
    width: 100%;




}

.descripcion {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.descripcion h1 {
    text-decoration: underline;
}

.descripcion p {
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

@media only screen and (max-width: 1094px) {
    .banner h2 {
        font-size: 30px
    }
}

/* FIN MAIN INDEX */
/* INICIA MAIN MARCAS */
.TituloMarcas h1 {
    text-align: center;
    padding: 50px;
    font-size: 50px;
    font-family: "Cinzel", serif;
    text-decoration: underline;
}

.content_marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.imgmarca img {
    height: 120px;
    width: 100%;

}

.cajamarca {
    width: 130px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

}

.verprod a {
    height: 42px;
    background-color: rgb(11, 11, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.verprod a:hover {
    background-color: rgb(29, 29, 50);
    text-decoration: underline;
}

.marcas img {
    width: 150px;
}

/* FIN MAIN MARCAS */
/* INICIA MAIN NUESTRA EMPRESA */
.NuestraEmpresa {
    height: 100vh;
    background-image: url(img/screw-4929711_1280.jpg);
    background-size: cover;
    background-position: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.contenido {

    height: fit-content;
    border: 5px solid white;
    background-color: rgba(244, 241, 241, 0.833);
    padding: 15px;

}

@media only screen and (max-width:507px) {
    .contenido h1 {
        font-size: 25px;
    }

    .contenido p {
        font-size: 12px;
    }
}

/* TERMINA MAIN NUESTRA EMPRESA */
/* INICIA MAIN CONTACTO */
.PrincipalContacto {
    height: auto;

}

.PrincipalContacto h1 {
    padding-bottom: 20px;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: underline;
}

.contactar {
    padding: 30px;
}

.boton {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

/* TERMINA MAIN CONTACTO */
/* INICIA MAIN CLIENTES */
.Ingresar {
    padding: 30px;
}

.Ingresar h1 {
    padding-bottom: 20px;
    margin-bottom: 0;
    padding-left: 0;
    text-decoration: underline;
}

/* TEMINA MAIN CLIENTES*/
/* FIN TOTAL MAIN */
/* INICIA MARCAS DE INDEX*/
.NuestrasMarcas {
    text-align: center;
    padding: 20px;
    background-color: rgb(183, 178, 178);
    border-top: 1px solid black;

}

.NuestrasMarcas h1 {
    font-family: "Cinzel", serif;
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
    text-decoration: underline;
}

.sec {
    width: 50%;
    margin-bottom: 30px;


}

.carousel-item img {
    height: 300px;
    width: 100%;
    object-fit: contain;

}

/* FIN MARCAS DE INDEX */
/* INCICIA FOOTER */
footer {
    background-color: rgb(11, 11, 129);
    padding: 20px;
    text-align: center;
}

.LogoFooter img {
    width: 250px;
}


footer ul {
    text-align: center;
    padding-left: 0;
}

.categorias li,
.contacto li {
    list-style: none;
    color: white;
}

.categorias a {
    text-decoration: none;
    color: white;
}

.categorias a:hover {
    text-decoration: underline;
}

.NuestrasRedes {
    text-align: center;
}

.NuestrasRedes a {
    font-size: 40px;
    padding: 30px;
    color: white;
}

footer h1 {
    color: black;
    text-decoration: underline;
}

@media only screen and (min-width:768px) and (max-width:900px) {
    .LogoFooter img {
        width: 200px;
    }

}

/* TERMINA FOOTER */

.whatsapp {
    font-size: 50px;
    color: black;
    position: fixed;
    top: 110px;
    right: 30px;
    text-shadow: 0 0 10px white;
}