@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=DM+Serif+Display:ital@0;1&display=swap');
/*  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal; */
.navbar-brand img{
    height: 150px;
}
.navbar{
    background-color: rgb(11, 11, 129);
    min-height: 150px;
    
}

.nav-link{
    color: rgb(0, 0, 0) !important;
    font-size: 25px;
}
.collapse{
    display: flex;
    justify-content: center;
    
}
.collapse li{
    padding: 10px;
}

.collapse li a:hover{
    color: white !important;
    text-decoration: underline;
}
/* Empieza Main */
main{
    height: auto;
    background-color: rgb(183, 178, 178);
  
    
}
.banner{height: auto;
    border: 5px solid;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
}
.banner h1{
    font-size: 40px;
}
.banner h2{
    font-size: 50px;
    text-shadow: 0 0 10px white;
}
@media only screen and (max-width: 1094px){
.banner h2{ font-size: 30px}
}
    

.banner p{
    margin-bottom: 20px;
}
.banner a{
    text-decoration: none;
    color: black;
    background-color: rgb(11, 11, 129);
    padding: 10px 20px;
    display: flex;
    width: fit-content;
    
}
.banner a:hover{
    text-decoration: underline;
    color: white;
}
.imagenPrincipal{
    padding: 0;
}
.imagenPrincipal img{
    width: 100%;
    
   
   
 
}
.descripcion{
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
/* TEMINA MAIN */
/* INICIA MARCAS */
.NuestrasMarcas{
    text-align: center;
    padding: 15px;
}
.sec{
width: 50%;


}
.carousel-item img{
    height:300px ;
    width: 100%;
    object-fit: contain;
    
}
/* INCICIA FOOTER */
footer{
    background-color: rgb(11, 11, 129);
    padding: 20px;
    text-align: center;
}
.LogoFooter img{
    width: 250px;
 
}
.categorias ul{
    text-align:center;
}
.categorias li, .contacto li{
    list-style: none;
    color: white;
}
.categorias a{
    text-decoration: none;
    color: white;
}
.categorias a:hover{
    text-decoration: underline;
}

.NuestrasRedes{
    text-align: center;
}
.NuestrasRedes a{
    font-size: 40px;
    padding: 30px;
    color: white;
}
footer h1{
    color: black;
    text-decoration: underline;
}
/* TERMINA FOOTER */

